@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}
}

@layer components {
	.u-list {
		@apply flex justify-between flex-wrap gap-2 p-0 pb-6 list-none;
	}
	.u-list li {
		@apply relative flex-1 flex items-center w-full min-w-fit py-2 px-4 bg-base-200 rounded-lg;
	}
	.u-list li > *:first-child {
		@apply ml-8;
	}
	.u-list li:before {
		content: '✔️';
		@apply absolute ml-1 top-1/2 -translate-y-1/2;
	}
	.o-list {
		counter-reset: item;
		@apply p-0 pb-6 list-none;
	}
	.o-list li {
		counter-increment: item;
		@apply flex relative;
	}
	.o-list li > *:first-child {
		@apply ml-12 pt-1 pb-8 w-full;
	}
	.o-list li:last-child > *:first-child {
		@apply pb-0;
	}
	.o-list li:before {
		content: '';
		@apply absolute w-px h-full bg-base-200 left-4 pointer-events-none;
	}
	.o-list li:last-child:before {
		@apply bg-transparent bg-gradient-to-b from-base-200;
	}
	.o-list li:after {
		content: counter(item);
		@apply flex items-center justify-center absolute w-8 h-8 rounded-full bg-base-200;
	}
	.u-list li.checked,
	.o-list li.checked {
		@apply opacity-50 print:opacity-100 transition-opacity;
	}
}
