@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}
}

@layer components {
	.u-list {
		@apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-0 list-none;
	}
	.u-list li {
		@apply flex relative;
	}
	.u-list li > *:first-child {
		@apply py-1 ml-6;
	}
	.u-list li:before {
		content: '';
		@apply absolute w-2 h-2 rounded-full bg-neutral top-1/2 -translate-y-1/2;
	}
	.o-list {
		counter-reset: item;
		@apply p-0 list-none;
	}
	.o-list li {
		counter-increment: item;
		@apply flex relative transition-opacity;
	}
	.o-list li > *:first-child {
		@apply ml-12 pt-1 pb-8 w-full;
	}
	.o-list li:last-child > *:first-child {
		@apply pb-0;
	}
	.o-list li:before {
		content: '';
		@apply absolute w-px h-full bg-base-200 left-4;
	}
	.o-list li:last-child:before {
		@apply bg-transparent bg-gradient-to-b from-base-200;
	}
	.o-list li:after {
		content: counter(item);
		@apply flex items-center justify-center absolute w-8 h-8 rounded-full bg-base-200;
	}
}
